body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: pink;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkred;
}

#specialImage {
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* Add some space between the text and image */
    display: block; /* Change to block to enable margin auto */
    margin-left: auto;
    margin-right: auto; /* Auto margins for horizontal centering */
}